@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color :#e6e0bb;
    --text-color : #000;
}

/* -------------------NAV BAR AND LOGO */

.container-fluid {
    padding: 0;
}

.navbar {
    background-color: var(--main-color);
    align-items: flex-start;
}

nav ul {
    list-style-type: none;
    flex: 1;
    text-align: right;
    display: inline-block;
    padding: 10px;

}

nav ul li {
    margin-right: 20px;
    margin-top: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.logo img {
    padding-left: 20px;
}

.nav-item {
    position: relative;
    margin-bottom: 3px;
}

.nav-item:hover {
    color: var(--text-color);
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: #f89274;
    transition: width 0.3s ease;
    height: 3px;
    width: 0%;
}

.nav-item:hover::after {
    width: 100%;
}

#cart-image {
    width: 30px;
    height: 30px;
}

/* ----------- END OF NAV BAR AND LOGO */

/* ----------- INDEX CONTENT */

.main-content {
    flex-wrap: wrap;
}

.background-container {
    background-image: linear-gradient(to bottom, #e6e0bb, #eadcb4, #efd7af, #f4d1aa, #f9cca7, #fbc6a1, #fcbf9b, #feb896, #fdae8c, #fca482, #fa9979, #f98e71);
}

.col-left,
.col-right {
    flex-basis: 50%;
    min-width: 300px;
}

.col-right img {
    max-width: 100%;
    padding: 50px 0;
}

.col-left h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    color: var(--text-color);
    position: relative;
    text-transform: uppercase;
}

.btn::after,
.btn::before {
    content: "";
    border: 2px solid var(--text-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform 0.3s ease;
    width: 100%;
    height: 100%;
}

.btn:hover {
    color:darkgray;
}

.btn:hover:after {
    transform: translate(-3px, -3px);
  
}

.btn:hover:before {
    transform: translate(3px, 3px);
}

.categories-img {
    flex-basis: 30%;
    flex-direction: col;
    min-width: 250px;
    margin-bottom: 30px;
}

.categories-img img {
    width: 100%;
    height: 85%;
    transition: transform 0.2s ease-out;
}

.categories-img img:hover {
    transform: translateY(-15px);
}

.text-decoration-none p {
    color: var(--text-color);
}

.categories-img .fw-bold {
    letter-spacing: 3px;
}

.popular-items img {
    width: 500px;
    height: 500px;
}

.col-lg-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #000;
}